<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ScareSpace</title>
  </head>
  <body>
    <% require 'sinatra/flash' %>

<h2>
  <%= flash[:notice] %>
</h2>
    <h1>Welcome to ScareSpace</h1>
    <% if @user %>
    User: <%= @user.email %>
    <% end %>
  <form action="/signup" method="get">
    <input type="submit" value="Sign Up">
  </form>
    <form action="/login" method="get">
    <input type="submit" value="Log In">
  </form>
    <form action="/spaces" method="get">
    <input type="submit" value="Create new space">
  </form>
    <form action="/requests" method="get">
    <input type="submit" value="Request Update">
  </form>
    <form action="/logout" method="post">
    <input type="submit" value="Log Out">
  </form>
    <form action="/signup" method="get">
    <input type="submit" value="BOOKBTN">
  </form>
 </body>
</html>
