<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <h1> Log In page </h1>
    <form action="/homepage" method="get">
      <label for="email">
        Enter email
        <input type="text" name="email">
      </label>
      <label for="password">
        Enter password
        <input type="text" name="password">
      </label>
      <input type="submit" value="Log in">
    </form>
  </body>
</html>
