<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <% require 'sinatra/flash' %>

    <h2>
      <%= flash[:notice] %>
    </h2>
    <h1> Log In page </h1>
    <form action="/login" method="post">
      <label for="email">
        Enter email
        <input type="email" name="email">
      </label>
      <label for="password">
        Enter password
        <input type="password" name="password">
      </label>
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
