<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Current requests</title>
  </head>
  <body>
    <h1> Current requests </h1>
    <% if @user %>
    User: <%= @user.email %>
    <% end %>
    <form action="/homepage" method="get">
      <input type="submit" value="Accept">
      <input type="submit" value="Decline">
    </form>
  </body>
</html>
