<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
   <% require 'sinatra/flash' %>

<h2>
  <%= flash[:notice] %>
</h2>
    <form action="/signup" method="post">
      <label for="email">
        Enter email
        <input type="email" name="email">
      </label>
      <label for="password">
        Enter password
        <input type="password" name="password">
      </label>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
