<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a space</title>
  </head>
  <body>
    <h1> Create a space </h1>
    <% if @user %>
    User: <%= @user.email %>
    <% end %>
    <form action="/homepage" method="get">
      <label for="name_of_space">
        Space name
        <input type="text" name="name_of_space">
      </label>
      <label for="address_of_space">
        Address
        <input type="text" name="address_of_space">
      </label>
      <label for="price_of_space">
        Price
        <input type="text" name="price_of_space">
      </label>
      <label for="description_of_space">
        Description
        <input type="text" name="address_of_space">
      </label>
      <input type="submit" value="Create space">
    </form>
    <form action="/homepage" method="get">
      <input type="submit" value="Back to homepage">
    </form>
  </body>
</html>
